.articleTtitle {
    margin: 1rem 2rem;
    text-align: center;
}

.blogNameHeaderH1 {
    font-weight: 600;
    font-size: 3.6rem;
}

@media only screen and (max-width: 700px) {
    .blogNameHeaderH1 {
        font-size: 4rem;
    }
    .articleTtitle {
        margin: 1.5rem 2;
    }

    .articleTtitle {
        margin-top: 3rem;
    }

}