
/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
/* https://stackoverflow.com/questions/4697578/how-to-make-a-parent-div-grow-with-its-children */

.para_content{
    top: 31rem;
    margin: 4rem 2rem;
    line-height: 2.8rem;
}
  
.para_content > li::before{
    content: "➤ ";
}

.para_content > p {
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 3rem;
    color: black;
    /* font-weight: 590; */
    font-family: 'Domine', serif;
}

.para_content > p > b {
    font-size: 1.7rem;  
}

.para_content > p > a {
    font-size: 1.7rem;
    /* font-weight: 200; */
    line-height: 3rem;
    color: blue;
    font-weight: bold;
}

.para_content > li > em, .para_content > em {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}

.para_content > li > b{
    font-size: 1.7rem;
    line-height: 3rem;
    /* font-weight: bold; */
}

.para_content > p > em {
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: bold;
}

.para_content > li {
    font-size: 1.7rem;
    list-style: none;
    line-height: 3rem;
    margin: 1rem;
    /* font-weight: 590; */
    font-family: 'Domine', serif;
}


@media only screen and (max-width: 700px) {
    .para_content > li,
    .para_content > p > em,
    .para_content > li > b,
    .para_content > p > a,
    .para_content > p > b,
    .para_content > p {
        font-size: 2.5rem;
        line-height: 4.2rem;
        font-weight: 500;
    }
    .para_content > li > em, .para_content > em  {
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
}