.privacyPolicyHeader {
    text-align: center;
    margin: 2rem 0;
}

.privacyPolicy {
    margin:  1rem 8rem;
    /* font-family: 'Times New Roman', Times, serif; */
    line-height: 2.5rem;
}

.privacyPolicy b {
    font-size: 1.5rem;
    font-weight: 600;
}

.privacyPolicy p {
    font-size: 1.6rem;
    font-weight: 300;
}

.privacyPolicy > h3 {
    margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
    .privacyPolicy p {
        font-size: 2.3rem;
        line-height: 3.8rem;
    }
    .privacyPolicy > h3, .privacyPolicy > h2 {
        font-size: 2.5rem;
    }
    .privacyPolicy > p > b {
        font-size: 2.3rem;
    }
}