.headerul {
    margin: .8rem 0;
    list-style: none;
    display: flex;
    column-gap: .5rem;
}

.headerbody{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.componentheadermainheader {
    border-bottom: 1px solid #eaeaea;
    box-shadow: .1rem .1rem #fafafa;
    height: auto;
}

.componentheaderheaderstart {
    margin: auto 15%;
    justify-content:space-between; 
}

.componentheaderheaderoptions {
    display: flex;
    position: relative;
    justify-content:space-between; 
}

.componentheaderheaderoptions > ul > li > a, #component-header-search-icon{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
}

.active {
    background-color: rgb(0, 82, 75);
    color: white !important;
    border-radius: 1rem;
}
